.kutu{
    position: relative;
}
.blackbox{
    position: relative;
    width: 50%;
    height: 185px;
    border: 2px solid black;
    background-color: antiquewhite;
    padding: 3px;
    z-index: 1;
}
.redbox{ 
    position: absolute;
    width: 25%;
    height:60px;
    left: 500px;
    top: 30px;
    border: 2px solid red;
    background-color: rgb(173, 38, 65);
    padding: 3px;
    z-index: 3;
}
.yellowbox{
    position: absolute;
    width: 35%;
    height: 150px;
    left: 20px;
    top: 60px;
    padding: 3px;
    border: 2px solid yellow;
    background-color: rgb(255, 255, 111);
    z-index: 2;
    
}